    <div class="control-group">
        <label class="control-label" for="Ship.Name">Name</label>
        <div class="controls">
			<input id="Ship.Name" name="Ship.Name" type="text" data-type="" data-bind="value: Ship.Name" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Ship.Address">Address</label>
        <div class="controls">
			<input id="Ship.Address" name="Ship.Address" type="text" data-type="" data-bind="value: Ship.Address" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Ship.City">City</label>
        <div class="controls">
			<input id="Ship.City" name="Ship.City" type="text" data-type="" data-bind="value: Ship.City" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Ship.Region">Region</label>
        <div class="controls">
			<input id="Ship.Region" name="Ship.Region" type="text" data-type="" data-bind="value: Ship.Region" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Ship.PostalCode">PostalCode</label>
        <div class="controls">
			<input id="Ship.PostalCode" name="Ship.PostalCode" type="text" data-type="" data-bind="value: Ship.PostalCode" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Ship.Country">Country</label>
        <div class="controls">
			<input id="Ship.Country" name="Ship.Country" type="text" data-type="" data-bind="value: Ship.Country" />
		</div>
    </div>

