    <div class="row">
        <div class="span2"><strong>Name</strong></div>
        <div class="span3" data-bind="text: Name"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Description</strong></div>
        <div class="span3" data-bind="text: Description"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Picture</strong></div>
        <div>
            <img  class="span3" data-bind="attr: { src: 'data:image/gif;base64,' + Picture() }" />
        </div>
    </div>

