    <div class="row">
        <div class="span2"><strong>Name</strong></div>
        <div class="span3" data-bind="text: Name"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>EnglishName</strong></div>
        <div class="span3" data-bind="text: EnglishName"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>QuantityPerUnit</strong></div>
        <div class="span3" data-bind="text: QuantityPerUnit"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>UnitPrice</strong></div>
        <div class="span3" data-bind="text: UnitPrice"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>UnitsInStock</strong></div>
        <div class="span3" data-bind="text: UnitsInStock"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>UnitsOnOrder</strong></div>
        <div class="span3" data-bind="text: UnitsOnOrder"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>ReorderLevel</strong></div>
        <div class="span3" data-bind="text: ReorderLevel"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Discontinued</strong></div>
        <div class="span3" data-bind="text: Discontinued"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Supplier</strong></div>
        <div class="span3" data-bind="text: SupplierName"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Category</strong></div>
        <div class="span3" data-bind="text: CategoryName"></div>
    </div>

