<table class="table table-striped table-bordered">
    <thead>
        <tr>
                <th>Id</th>
                <th>Name</th>
                <th>EnglishName</th>
                <th>UnitPrice</th>
                <th>Stock</th>
                <th>Ordered</th>
                <th>Supplier</th>
                <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Products">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: EnglishName"></td>
            <td class="tr">
                $<span data-bind="text: UnitPrice().toFixed(2)"></span>
            </td>
            <td data-bind="text: UnitsInStock"></td>
            <td data-bind="text: UnitsOnOrder"></td>
            <td data-bind="text: SupplierName"></td>
            <td data-bind="text: CategoryName"></td>
            <td class="nowrap">
                <a class="btn" 
					title="View Product"
                    data-template="ViewProduct" 
                    data-bind="attr: { 'data-id': Id(), href: '#!/' + Id() }"
                    data-toggle="modal"
                    data-target="#modal"><i class="icon-eye-open"></i></a>
                <a class="btn btn-primary" 
					title="Edit Product"
                    data-template="EditProduct" 
                    data-bind="attr: { 'data-id': Id(), href: '#!/Edit/' + Id() }"
                    data-toggle="modal"
                    data-target="#modal"><i class="icon-edit icon-white"></i></a>
                <a class="btn btn-danger" 
					title="Delete Product"
                    data-template="DeleteProduct" 
                    data-bind="attr: { 'data-id': Id(), href: '#!/Delete/' + Id() }"
                    data-toggle="modal"
                    data-target="#modal"><i class="icon-trash icon-white"></i></a>
            </td>
        </tr>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="8"></td>
			<td>
				<a class="btn" 
					href="#!/Add"
					title="Add Product"
					data-template="AddProduct" 
					data-toggle="modal"
					data-target="#modal"
					data-item="@Json.Encode(new ProductModel())"><i class="icon-plus"></i> Add Product</a>
			</td>
		</tr>
	</tfoot>
</table>
