    <div class="control-group">
        <label class="control-label" for="Address.Street">Street</label>
        <div class="controls">
			<input id="Address.Street" name="Address.Street" type="text" data-type="" data-bind="value: Address.Street" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Address.City">City</label>
        <div class="controls">
			<input id="Address.City" name="Address.City" type="text" data-type="" data-bind="value: Address.City" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Address.Region">Region</label>
        <div class="controls">
			<input id="Address.Region" name="Address.Region" type="text" data-type="" data-bind="value: Address.Region" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Address.PostalCode">PostalCode</label>
        <div class="controls">
			<input id="Address.PostalCode" name="Address.PostalCode" type="text" data-type="" data-bind="value: Address.PostalCode" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Address.Country">Country</label>
        <div class="controls">
			<input id="Address.Country" name="Address.Country" type="text" data-type="" data-bind="value: Address.Country" />
		</div>
    </div>

