<div class="row">
    <div class="span2"><strong>Contact</strong></div>
    <div class="span3">
        <span data-bind="text: Contact.Name"></span><br />
        <span data-bind="text: Contact.Address.Street"></span><br />
        <span data-bind="text: Contact.Address.City"></span><br />
        <span data-bind="text: Contact.Address.Region"></span> <span data-bind="text: Contact.Address.PostalCode"></span><br />
        <span data-bind="text: Contact.Address.Country"></span>
    </div>
</div>
