    <div class="control-group">
        <label class="control-label" for="Contact.Name">Name</label>
        <div class="controls">
			<input id="Contact.Name" name="Contact.Name" type="text" data-type="" data-bind="value: Contact.Name" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Title">Title</label>
        <div class="controls">
			<input id="Contact.Title" name="Contact.Title" type="text" data-type="" data-bind="value: Contact.Title" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Address.Street">Street</label>
        <div class="controls">
			<input id="Contact.Address.Street" name="Contact.Address.Street" type="text" data-type="" data-bind="value: Contact.Address.Street" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Address.City">City</label>
        <div class="controls">
			<input id="Contact.Address.City" name="Contact.Address.City" type="text" data-type="" data-bind="value: Contact.Address.City" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Address.Region">Region</label>
        <div class="controls">
			<input id="Contact.Address.Region" name="Contact.Address.Region" type="text" data-type="" data-bind="value: Contact.Address.Region" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Address.PostalCode">PostalCode</label>
        <div class="controls">
			<input id="Contact.Address.PostalCode" name="Contact.Address.PostalCode" type="text" data-type="" data-bind="value: Contact.Address.PostalCode" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Address.Country">Country</label>
        <div class="controls">
			<input id="Contact.Address.Country" name="Contact.Address.Country" type="text" data-type="" data-bind="value: Contact.Address.Country" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Phone">Phone</label>
        <div class="controls">
			<input id="HomePhone" name="Contact.Phone" type="tel" data-type="datatype.phonenumber" data-bind="value: Contact.Phone" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Contact.Fax">Fax</label>
        <div class="controls">
			<input id="Contact.Fax" name="Contact.Fax" type="text" data-type="" data-bind="value: Contact.Fax" />
		</div>
    </div>

