<form action='@Url.ApiUrl("Shippers")' method="put" class="form-horizontal">
	<input id="Id" name="Id" type="hidden" data-bind="value: Id" />	
    <div class="control-group">
        <label class="control-label" for="Name">Name</label>
        <div class="controls">
			<input id="Name" name="Name" type="text" data-type="" data-bind="value: Name" />
		</div>
    </div>
</form>
