<table class="table table-striped table-bordered">
    <thead>
        <tr>
                <th>Product</th>
                <th>UnitPrice</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>SubTotal</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.OrderDetails">
        <tr>
            <td>
	            <input id="ProductId" name="ProductId" type="hidden" data-bind="value: ProductId" />
			    <input id="ProductName" name="ProductName" type="text" data-type="typeahead" data-url="@Url.ApiUrl("Products")" data-target="ProductId" data-bind="value: ProductName" class="input-small" />
            </td>
            <td>$<span data-bind="text: UnitPrice().toFixed(2)"></span></td>
            <td>
                <input id="Quantity" name="Quantity" type="number" data-type="" data-bind="value: Quantity" class="input-small" />
            </td>
            <td>
                <input id="Discount" name="Discount" type="number" data-type="" data-bind="value: Discount" class="input-small" />
            </td>
            <td>$<span data-bind="text: ((UnitPrice() * Quantity()) * (1 - Discount())).toFixed(2)"></span></td>
        </tr>
    </tbody>
	<tfoot>
		<tr>
            <td>
                <a class="btn" 
					title="Add Product"
                    data-item="@Json.Encode(new OrderDetailModel())" 
                    data-controller="OrderDetails"><i class="icon-plus"></i></a>
            </td>
			<td colspan="3" class="tr"><strong>Total</strong></td>
			<td class="tr">
                <strong>
                    $<span data-bind="text: $root.OrderTotal().toFixed(2)"></span>
                </strong>
			</td>
		</tr>
	</tfoot>
</table>
