    <div class="row">
        <div class="span2"><strong>Id</strong></div>
        <div class="span3" data-bind="text: Id"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>UnitPrice</strong></div>
        <div class="span3" data-bind="text: UnitPrice"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Quantity</strong></div>
        <div class="span3" data-bind="text: Quantity"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Discount</strong></div>
        <div class="span3" data-bind="text: Discount"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Order</strong></div>
        <div class="span3" data-bind="text: OrderName"></div>
    </div>
    <div class="row">
        <div class="span2"><strong>Product</strong></div>
        <div class="span3" data-bind="text: ProductName"></div>
    </div>

